:root {
  --item-bg-color: #0073E6;
  --link-hover-color: #0080FF;
  --padding: 10px;
  --width: 50%;
  --min-width: 850px;
}

.header {
  background-color: white;
  border-bottom: 3px solid #ddd;
  width: var(--width);
  min-width: var(--min-width);
  border-radius: 5px;
}

.footer {
  background-color: white;
  border-top: 3px solid #ddd;
  width: var(--width);
  min-width: var(--min-width);
  border-radius: 5px;
  line-height: 30px;
}

.menu {
  border-collapse: collapse;
}

.menu-alternative {
   border: 1px solid #ddd;
}

.add-padding {
  padding: var(--padding);
}

.menu-item {
  /* border: 1px solid #ddd; */
  text-transform: uppercase;
  font-weight: bold;
  font: 20px Arial, sans-serrif;
}

.list-centered {
  position: relative;
  text-align: left;
  left: 20%;
}

.btn {
  background-color: var(--item-bg-color);
  color: #FFFFFF;
  padding: var(--padding);
  text-align: center;
  display: inline-block;
  border-radius: 10px;
}

.btn:hover, .btn:active {
  padding: var(--padding);
  background-color: var(--link-hover-color);
  border-radius: 5px;
}

a:link, a:visited {
  text-decoration: none;
}

.hyperlink {
  color: #3333FF;
  font-family: Optima, sans-serif;
}

.content {
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;

  background-color: white;
  border-radius: 5px;
  height: 80%;
  width: var(--width);
  min-width: var(--min-width);
}
